.LetsChat{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 108px;
  height: 35px;
  border-radius: 30px;
  background-color: var(--baby-purple);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--black);
}