.Base{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 255px;
  @media(max-width: 812px){
    flex-direction: column;
    height: 300px;
  }
  &__background{
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    height: 255px;
    background-color: var(--black);
    z-index: -1;
    @media(max-width: 812px){
      flex-direction: column;
      height: 400px;
    }
  }
  &__section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 75px;
    width: 100%;
    height: 255px;
    color: var(--white);
    max-width: 414px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    @media(max-width: 812px){
      align-items: center;
      text-align: center;
    }
    &-heading{
      font-size: 22px;
      font-weight: bold;
      line-height: 1.45;
      margin-bottom: 10px;
    }
  }
}