.ProductsCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 332px;
  margin: 0 11px;
  box-shadow: 0 13px 18px -8px rgba(0, 0, 0, 0.1);
  border-radius: 50px 5px;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  margin-bottom: 40px;
  &-img {
    display: flex;
    max-height: 194px;
    width: 100%;
  }
  &-section {
    display: flex;
    width: 100%;
    min-height: 126px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-text {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      margin-bottom: 10px;
      letter-spacing: normal;
      text-align: center;
      color: #2b292d;
    }
    &-readMore {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      color: var(--violet);
    }
  }
}