.Services{
  display: flex;
  flex-wrap: wrap;
  margin-top: 94px;
  width: 100%;
  &__heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    &-description{
      display: flex;
      margin-top: 40px;
      max-width: 705px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #2b292d;
    }
  }
  &__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    &-ServiceBox{
      margin-top: 50px;
      width: 50%;
      max-width: 410px;
    }
  }
}