.Behance{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  &-single{
    display: flex;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 42px 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
    transform: rotate(-90deg);
    &:nth-child(2){
      &:before{
        content: '';
        position: absolute;
        transform: rotate(90deg);
        right: -35px;
        width: 40px;
        height: 1px;
        background: black;
      }
    }
  }
}