.Picture{
  display: flex;
  position: relative;
  width: 100%;
  height: 272px;
  &:hover{
    background-color: rgba(234, 143, 255, 0.7);
  }

  &-img{
    display: flex;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px 19px;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 0;
    &:hover{
      opacity: 1;
    }
    &-name{
      display: flex;
      font-size: 20px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--black);
    }
    &-description{
      display: flex;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--black);
    }
  }
}