.HeroBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 123px;
  @media(max-width: 812px){
    margin-top: 58px;
  }
  width: 100%;
  &__langs {
    display: flex;
    position: absolute;
    left: 30px;
  }
  &__behance {
    display: flex;
    position: absolute;
    right: 15px;
  }
  &__header {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.98;
    letter-spacing: -0.5px;
    text-align: center;
    color: var(--black);
    @media (max-width: 812px){
      font-size: 30px;
    }
  }
  &__description {
    display: flex;
    justify-content: center;
    max-width: 826px;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 173px;
    padding: 0 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
    @media(max-width: 812px){
      margin-bottom: 58px;
    }
  }
}