.ServicesBox{
  display: flex;
  flex-direction: column;
  &-header{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b292d;
    &:before{
      display: flex;
      content: '';
      margin-bottom: 10px;
      width: 32.8px;
      height: 3px;
      background: black;
    }
  }
  &-text{
    display: flex;
    margin-top: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #2b292d;
  }
}