.error404{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  align-items: center;
  &-header, &-description{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}