.Products{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 94px;
  @media(max-width: 812px){
    margin-top: 124px;
  }
  &__heading{
    display: flex;
    width: 100%;
  }
  &__section{
    display: flex;
    width: 100%;
    margin-top: 72px;
  }
}