.OurTeam{
  display: flex;
  flex-wrap: wrap;
  margin-top: 94px;
  width: 100%;
  &__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &-description{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 43px;
      max-width: 719px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: var(--black);
    }
  }
  &__content{
    display: block;
    margin-top: 55px;
    width: 100%;
    &-Picture{
      display: flex;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    &-Carousel{
      .slider-list{
      margin-left: 240px !important;
      }
    }
  }
}