.LangButtons{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  &-single{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 22px 37px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background: none;
    border: none;
    color: var(--black);
    cursor: pointer;
    &:nth-child(2){
      &:before{
        content: '';
        position: absolute;
        top: 0;
        width: 80%;
        height: 1px;
        background: black;
      }
    }
  }
}