.Header {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  align-items: center;
  margin: 50px 0;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 960px;
    @media (max-width: 812px) {
      flex-direction: column;
    }
    &-title {
      display: flex;
      width: 50%;
      position: relative;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--black);
      @media (max-width: 812px) {
        order: 1;
      }
    }
    &-section {
      display: inline-flex;
      align-items: center;
      width: 40%;
      @media (max-width: 812px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        order: 2;
      }
      @media (min-width: 813px) {
        &--left {
          justify-content: space-between;
          .Header__nav-section-link {
            margin-right: 47px;
          }
        }
        &--right {
          justify-content: space-between;
          .Header__nav-section-link {
            margin-left: 47px;
          }
        }
      }

      &-link {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center;
        color: var(--black);
        @media (max-width: 812px) {
          margin: 15px 0;
        }
          &:hover:after {
          visibility: visible;
        }
        &:after {
          content: '';
          display: flex;
          visibility: hidden;
          position: absolute;
          width: 120%;
          height: 1px;
          background-color: #111111;
        }
      }
    }
  }
}