.Footer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  color: #fff;
  &__background {
    display: flex;
    bottom: 0;
    position: absolute;
    height: 47px;
    width: 100%;
    color: #fff;
    background-color: #111;
    z-index: -1;
  }
  &__text {
    display: flex;
    justify-content: flex-start;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 11px 0 14px 0;
    @media (max-width: 812px){
      justify-content: center;
    }
    span {
      margin-left: 5px;
    }
  }
  &__section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2b292d;
    max-width: 960px;
    @media (max-width: 812px){
      flex-direction: column;
      align-items: center;
    }
    &-left {
      display: flex;
      width: 50%;
      justify-content: flex-start;
      max-width: 530px;
      @media (max-width: 812px){
        width: 100%;
      }
    }
    &-right{
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: space-around;
      flex-flow: column wrap;
      align-content: space-between;
      max-height: 108px;
      max-width: 300px;
      padding-bottom: 21px;
      @media (max-width: 812px){
        width: 100%;
      }
    }
    &-link{
      text-decoration: none;
      padding: 2px 0;
    }
  }
}