.Image {
  height: auto;
  width: auto;
  &--fitted {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--responsive-width {
    width: 100%;
  }
  &--responsive-height {
    height: 100%;
  }
  @for $i from 1 through 5 {
    &--rounded-#{$i * 10} {
      border-radius: calc(10% * #{$i});
    }
  }
}