.HaveAProject{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 94px;
  margin-bottom: 129px;
  font-family: 'Source Sans Pro', sans-serif;
  &-heading{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-size: 42px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: normal;
    color: #2b292d;
  }
  &-description{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 37px;
    max-width: 690px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #212b36;
  }
  &-LetsChat{
    display: flex;
    margin-top: 40px;
    min-width: 108px;
  }
}