.SectionHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  &__heading{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 22px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    color: #ffda6f;
    margin-bottom: 10px;
  }
  &__subHeading{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: normal;
    text-align: center;
    color: #2b292d;
  }
}